<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DisGo - Driver Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/disgo.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">

</head>
<body class="bgcolor-black">
  {{> navbar}}
  <div class="page-header" style="border-bottom:1px solid #BDBDBD">
    <center><h2>Welcome {{name}}! </h2></center>
  </div>

  <center><h4 style="color:black"> Rides: </h4><center>

  <div class="container">
  {{#if rides.length}}
    {{#each rides}}
    <div class="thumbnail" id="ride{{id}}" style="border-bottom: 1px solid #BDBDBD; border-left: 1px solid #BDBDBD; border-right: 1px solid #BDBDBD;">
      <div class="bgcolor-red">
      <h5 class="h5" align=center> {{date}} </h5>
      <h5 class="h5" align=center> <strong>{{time}}</strong> </h5></div>
      <ul class="list-unstyled">
        <li>Rider: <b>{{rider}}</b></li>
        <li>Phone: <a href="tel:{{riderTel}}">{{riderTel}}</a> </li>
        <li>From: <b>{{from}}</b></li>
        <li>To: <b>{{to}}</b></li>
      </ul>
    </div>
    {{/each}}
  {{else}}
    <div>No rides to display.</div>
  {{/if}}
</div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>