<!DOCTYPE html>
<html data-wf-site="52f021d8a8b031ee5c000120">
<head>
  <meta charset="utf-8">
  <title>DisGo - Request Ride</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/disgo.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  {{> navbar}}
  <div align=center style ="padding:15px;">
    <h1>Edit Ride</h1>
  </div>
  
  <div class="w-form" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
    {{#with ride}}
    <form name="wf-form-request-ride-form" action="/rides/update/{{id}}" method="post" data-name="Request Ride Form">
      <label for="from">From:</label>
      <select class="w-select" name="dropdown1" autofocus required>
        <option disabled hidden value=''></option>
        <option value="{{from}}" selected>{{from}}</option>
        <option value="Arrillaga Gym East">Arrillaga Gym East</option>
        <option value="Arrillaga Gym West">Arrillaga Gym West</option>
        <option value="Bld 200">Bld 200</option>
        <option value="Bld 260">Bld 260</option>
        <option value="Bld 320">Bld 320</option>
        <option value="Bld 380">Bld 380</option>
        <option value="Branner Hall">Branner Hall</option>
        <option value="Cantor Arts Center">Cantor Arts Center</option>
        <option value="Cowell Houses">Cowell Houses</option>
        <option value="Crothers Hall">Crothers Hall</option>
        <option value="Encina Hall">Encina Hall</option>
        <option value="Escondido South">Escondido South</option>
        <option value="Escondido Village">Escondido Village</option>
        <option value="FloMo">FloMo</option>
        <option value="Ford Center">Ford Center</option>
        <option value="FroSoCo">FroSoCo</option>
        <option value="Gates">Gates</option>
        <option value="Gilbert Hall">Gilbert Hall</option>
        <option value="Green Library">Green Library</option>
        <option value="Governor's Corner">Governor's Corner</option>
        <option value="Hewlett">Hewlett</option>
        <option value="Huang Engineering">Huang Engineering</option>
        <option value="Jordan Quad">Jordan Quad</option>
        <option value="Knights Managment Center">Knights Managment Center</option>
        <option value="Lagunita Court">Lagunita Court</option>
        <option value="Lower Row">Lower Row</option>
        <option value="Manzanita Park">Manzanita Park</option>
        <option value="Medical School">Medical School</option>
        <option value="Memorial Auditorium">Memorial Auditorium</option>
        <option value="Meyer Library">Meyer Library</option>
        <option value="Mirrelees">Mirrelees</option>
        <option value="Munger Graduate Housing">Munger Graduate Housing</option>
        <option value="Raines Houses">Raines Houses</option>
        <option value="Roble Hall">Roble Hall</option>
        <option value="Stern Hall">Stern Hall</option>
        <option value="Tressider Union">Tressider Union</option>
        <option value="Upper Row">Upper Row</option>
        <option value="Wilbur Hall">Wilbur Hall</option>
      </select>
      <label for="to">To:</label>
      <select class="w-select" name="dropdown2" required>
        <option disabled hidden value=''></option>
        <option value="{{to}}" selected>{{to}}</option>
        <option value="Arrillaga Gym East">Arrillaga Gym East</option>
        <option value="Arrillaga Gym West">Arrillaga Gym West</option>
        <option value="Bld 200">Bld 200</option>
        <option value="Bld 260">Bld 260</option>
        <option value="Bld 320">Bld 320</option>
        <option value="Bld 380">Bld 380</option>
        <option value="Branner Hall">Branner Hall</option>
        <option value="Cantor Arts Center">Cantor Arts Center</option>
        <option value="Cowell Houses">Cowell Houses</option>
        <option value="Crothers Hall">Crothers Hall</option>
        <option value="Encina Hall">Encina Hall</option>
        <option value="Escondido South">Escondido South</option>
        <option value="Escondido Village">Escondido Village</option>
        <option value="FloMo">FloMo</option>
        <option value="Ford Center">Ford Center</option>
        <option value="FroSoCo">FroSoCo</option>
        <option value="Gates">Gates</option>
        <option value="Gilbert Hall">Gilbert Hall</option>
        <option value="Green Library">Green Library</option>
        <option value="Governor's Corner">Governor's Corner</option>
        <option value="Hewlett">Hewlett</option>
        <option value="Huang Engineering">Huang Engineering</option>
        <option value="Jordan Quad">Jordan Quad</option>
        <option value="Knights Managment Center">Knights Managment Center</option>
        <option value="Lagunita Court">Lagunita Court</option>
        <option value="Lower Row">Lower Row</option>
        <option value="Manzanita Park">Manzanita Park</option>
        <option value="Medical School">Medical School</option>
        <option value="Memorial Auditorium">Memorial Auditorium</option>
        <option value="Meyer Library">Meyer Library</option>
        <option value="Mirrelees">Mirrelees</option>
        <option value="Munger Graduate Housing">Munger Graduate Housing</option>
        <option value="Raines Houses">Rains Houses</option>
        <option value="Roble Hall">Roble Hall</option>
        <option value="Stern Hall">Stern Hall</option>
        <option value="Tressider Union">Tressider Union</option>
        <option value="Upper Row">Upper Row</option>
        <option value="Wilbur Hall">Wilbur Hall</option>
      </select>
      <label for="time">Time:</label>
      <input type="time" min="08:15:00" max="17:10:00" name="ridetime" vale="{{time}}" required></input>
      <label for="date-local">Date:</label>
      <input type="date" name="date" value="{{date}}" required></input>
      <div></div>
      <div></div>
      <br>
      <button class="w-button" onclick="window.location='/';return false;" value="Cancel" data-wait="Please wait...">Cancel</button>
      <input class="w-button" type="submit" value="Submit" data-wait="Please wait..."></input>
    </form>
    {{/with}}
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
</body>
</html>