<!DOCTYPE html>
<html data-wf-site="52f021d8a8b031ee5c000120">
<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='83051233-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <meta charset="utf-8">
  <title>DisGo - Request Ride</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/disgo.webflow.css">

  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  
  <script type="text/javascript" src="/js/webflow.js"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.searchabledropdown-1.0.8.min.js"></script>
  {{#if alt}}
    <script type="text/javascript">
      $(document).ready(function() {
        $('select').searchable();
      });
    </script>
  {{/if}}

  <script type="text/javascript">
    $(document).ready(function() {
      var startTime = new Date().getTime();

      $('#submitBtn').click(function(e) {
        var endTime = new Date().getTime();
        var elapsed = endTime - startTime;
        $('#elapsedInput').val(elapsed);
        ga('send', 'event', 'rides', 'request', elapsed, { 'hitCallback': function() {
            $('form').submit();
          }
        });
      });

    });
  </script>
</head>
<body>
  {{> navbar}}
  <div>
    <h1>Request a Ride</h1>
  </div>
  <div class="w-form">
    <form name="wf-form-request-ride-form" action="/rides/submit" method="post" data-name="Request Ride Form">
      <input type="hidden" name="elapsed" id="elapsedInput"></input>
      {{#if alt}}
        <input type="hidden" name="testSet" value="B"></input>
      {{else}}
        <input type="hidden" name="testSet" value="A"></input>
      {{/if}}
      <label for="from">From:</label>
      <select class="w-select" name="dropdown1" autofocus required>
        {{#if alt}}
        <option value=""></option>
        {{else}}
        <option value="">Select one...</option>
        {{/if}}
        <option value="Arrillaga Gym East">Arrillaga Gym East</option>
        <option value="Arrillaga Gym West">Arrillaga Gym West</option>
        <option value="Bld 200">Bld 200</option>
        <option value="Bld 260">Bld 260</option>
        <option value="Bld 320">Bld 320</option>
        <option value="Bld 380">Bld 380</option>
        <option value="Branner Hall">Branner Hall</option>
        <option value="Cantor Arts Center">Cantor Arts Center</option>
        <option value="Cowell Houses">Cowell Houses</option>
        <option value="Crothers Hall">Crothers Hall</option>
        <option value="Encina Hall">Encina Hall</option>
        <option value="Escondido South">Escondido South</option>
        <option value="Escondido Village">Escondido Village</option>
        <option value="FloMo">FloMo</option>
        <option value="Ford Center">Ford Center</option>
        <option value="FroSoCo">FroSoCo</option>
        <option value="Gates">Gates</option>
        <option value="Gilbert Hall">Gilbert Hall</option>
        <option value="Green Library">Green Library</option>
        <option value="Governor's Corner">Governor's Corner</option>
        <option value="Hewlett">Hewlett</option>
        <option value="Huang Engineering">Huang Engineering</option>
        <option value="Jordan Quad">Jordan Quad</option>
        <option value="Knights Managment Center">Knights Managment Center</option>
        <option value="Lagunita Court">Lagunita Court</option>
        <option value="Lower Row">Lower Row</option>
        <option value="Manzanita Park">Manzanita Park</option>
        <option value="Medical School">Medical School</option>
        <option value="Memorial Auditorium">Memorial Auditorium</option>
        <option value="Meyer Library">Meyer Library</option>
        <option value="Mirrelees">Mirrelees</option>
        <option value="Munger Graduate Housing">Munger Graduate Housing</option>
        <option value="Raines Houses">Raines Houses</option>
        <option value="Roble Hall">Roble Hall</option>
        <option value="Stern Hall">Stern Hall</option>
        <option value="Tressider Union">Tressider Union</option>
        <option value="Upper Row">Upper Row</option>
        <option value="Wilbur Hall">Wilbur Hall</option>
      </select>
      <label for="to">To:</label>
      <select class="w-select" name="dropdown2" required>
        {{#if alt}}
        <option value=""></option>
        {{else}}
        <option value="">Select one...</option>
        {{/if}}
        <option value="Arrillaga Gym East">Arrillaga Gym East</option>
        <option value="Arrillaga Gym West">Arrillaga Gym West</option>
        <option value="Bld 200">Bld 200</option>
        <option value="Bld 260">Bld 260</option>
        <option value="Bld 320">Bld 320</option>
        <option value="Bld 380">Bld 380</option>
        <option value="Branner Hall">Branner Hall</option>
        <option value="Cantor Arts Center">Cantor Arts Center</option>
        <option value="Cowell Houses">Cowell Houses</option>
        <option value="Crothers Hall">Crothers Hall</option>
        <option value="Encina Hall">Encina Hall</option>
        <option value="Escondido South">Escondido South</option>
        <option value="Escondido Village">Escondido Village</option>
        <option value="FloMo">FloMo</option>
        <option value="Ford Center">Ford Center</option>
        <option value="FroSoCo">FroSoCo</option>
        <option value="Gates">Gates</option>
        <option value="Gilbert Hall">Gilbert Hall</option>
        <option value="Green Library">Green Library</option>
        <option value="Governor's Corner">Governor's Corner</option>
        <option value="Hewlett">Hewlett</option>
        <option value="Huang Engineering">Huang Engineering</option>
        <option value="Jordan Quad">Jordan Quad</option>
        <option value="Knights Managment Center">Knights Managment Center</option>
        <option value="Lagunita Court">Lagunita Court</option>
        <option value="Lower Row">Lower Row</option>
        <option value="Manzanita Park">Manzanita Park</option>
        <option value="Medical School">Medical School</option>
        <option value="Memorial Auditorium">Memorial Auditorium</option>
        <option value="Meyer Library">Meyer Library</option>
        <option value="Mirrelees">Mirrelees</option>
        <option value="Munger Graduate Housing">Munger Graduate Housing</option>
        <option value="Raines Houses">Rains Houses</option>
        <option value="Roble Hall">Roble Hall</option>
        <option value="Stern Hall">Stern Hall</option>
        <option value="Tressider Union">Tressider Union</option>
        <option value="Upper Row">Upper Row</option>
        <option value="Wilbur Hall">Wilbur Hall</option>
      </select>
      <label for="time">Time:</label>
      <input type="time" min="08:15:00" max="17:10:00" name="ridetime" required></input>
      <label for="date-local">Date:</label>
      <input type="date" name="date" value="{{today}}" min="{{today}}" required></input>
      <div></div>
      <div></div>
      <button class="w-button" onclick="window.location='/';return false;" value="Cancel" data-wait="Please wait...">Cancel</button>
      <button class="w-button" id="submitBtn" value="Submit" data-wait="Please wait...">Submit</button>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48674310-2', 'disgo.herokuapp.com');
    ga('send', 'pageview');

  </script>
</body>
</html>